
# Where to find the coref task file, which specifies the separate coref jobs for execution
--coref-task-file=data/acl-coref-tasks.tsv

# Where to write the coref output
--output-dir=data/acl-coref-output

# The number of threads to use
--num-threads=18

# The file encoding
--codec=UTF-8

# The embeddings
--embedding-dim=200
--embedding-file=data/acl-embedding/embeddings.txt

# MongoDB
--hostname=localhost
--port=25752
--dbname=authormention_db
--collection-name=authormention