# First names
--model-author-bag-first-initial-weight=20.0
--model-author-bag-first-noname-penalty=0.0
--model-author-bag-first-name-weight=4.0
--model-author-bag-first-saturation=40.0
--model-author-bag-first-weight=1.0

# Middle Names
--model-author-bag-middle-initial-weight=8.0
--model-author-bag-middle-noname-penalty=0.0
--model-author-bag-middle-name-weight=3.0
--model-author-bag-middle-saturation=40.0
--model-author-bag-middle-weight=1.0

# Emails
--model-author-bag-emails-weight=20.0
--model-author-bag-emails-shift=0.0
--model-author-bag-emails-entropy=0.0
--model-author-bag-emails-prior=0.0

# Institutions
--model-author-bag-institutions-weight=8.0
--model-author-bag-institutions-shift=0.0
--model-author-bag-institutions-entropy=0.0
--model-author-bag-institutions-prior=0.0

# co-authors
--model-author-bag-coauthors-weight=10.0
--model-author-bag-coauthors-shift=-0.1
--model-author-bag-coauthors-entropy=0.125
--model-author-bag-coauthors-prior=0.5

# Title embedding
--model-author-bag-title-embedding-weight=20.0
--model-author-bag-title-embedding-shift=-0.25
--model-author-bag-title-embedding-entropy=0.0
--model-author-bag-title-embedding-prior=0.0

# Discrete Topic Labels
--model-author-bag-topics-weight=7.0
--model-author-bag-topics-shift=-0.4
--model-author-bag-topics-entropy=0.0
--model-author-bag-topics-prior=0.0

# Text Weight
--model-author-bag-text-weight=11.0
--model-author-bag-text-shift=-0.5
--model-author-bag-text-entropy=0.0
--model-author-bag-text-prior=0.0

# Keywords
--model-author-bag-keywords-weight=11.0
--model-author-bag-keywords-shift=-0.4
--model-author-bag-keywords-entropy=0.0
--model-author-bag-keywords-prior=0.0

# Venues
--model-author-bag-venues-weight=10.0
--model-author-bag-venues-shift=-0.0
--model-author-bag-venues-entropy=0.0
--model-author-bag-venues-prior=0.0