# Where to find the coref task file, which specifies the separate coref jobs for execution
--coref-task-file=data/coref-tasks.tsv

# Where to write the coref output
--output-dir=data/coref-output

# The number of threads to use
--num-threads=18

# The file encoding
--codec=UTF-8

# The word embeddings
--embedding-dim=200
--embedding-file=data/embedding/embeddings.txt
--case-sensitive=true

# MongoDB
--hostname=localhost
--port=25752
--dbname=authormention_db
--collection-name=authormention

# Canopy Functions to use
--canopies=fullName,firstAndLast,lastAndFirst3ofFirst,lastAndFirst1ofFirst

# Name processor to use
--name-processor=CaseInsensitiveReEvaluatingNameProcessor