
# The Rexa directory
--rexa-dir=data/rexa

# The file encoding
--codec=UTF-8

# The word embedding files
--embedding-dim=200
--embedding-file=data/rexa-embedding/embeddings.txt

# Number of threads (it is so small using 1 thread is fine)
--num-threads=1

# Output directory (for experimental results)
--output-dir=rexa-output

# Topics and keywords files
--topics-file=data/rexa-topics/topics.db
--keywords-file=data/rexa-keywords/keywords.db
